<a href="https://colab.research.google.com/github/rentsdue/AP-CSA/blob/main/Copy_of_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [32]:
#String to list user input
list=input("Input a list: ")
word_list=list.split()
print(word_list)

#Int/float to list user input
number_list=input("Input a list of numbers: ")
string_list=number_list.split()
float_list=[int(item) if item.isdigit() else float(item) for item in string_list]
print(float_list)

Input a list: Printing all items in a list
['Printing', 'all', 'items', 'in', 'a', 'list']
Input a list of numbers: 1 2 3 4 5 7.5
[1, 2, 3, 4, 5, 7.5]


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
for i in range (1, 11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
x=input("Input a word: ")
y="aeiouAEIOU"
for i in x:
  if i in y:
    print(i)

Input a word: Clashroyale
a
o
a
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [2]:
stuff=input("Create a list full of items! Remember to separate the items with a comma in order for the code to work! ")
list1=stuff.split(',')
for i in range(int(len(list1))-1, -1, -1):
  print(list1[i])

Create a list full of items! Remember to separate the items with a comma in order for the code to work! Without, using, built, in, functions, reverse, the, items, in, a list
 a list
 in
 items
 the
 reverse
 functions
 in
 built
 using
Without

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [3]:
count=0
compile=input("Input a list of integers. Remember to split each integer with a comma! ")
input_list=compile.split(',')
num_list=[int(item) for item in input_list]
for i in num_list:
  if i%2 !=0:
    count +=1
print (count)

Input a list of integers. Remember to split each integer with a comma! 1, 3, 5, 7, 9, 11, 12
6

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [9]:
scores=input("Input a list of scores. Remember to separate each score by a comma. ")
listscores=scores.split(',')
float_list=[float(item) for item in listscores]
for i in float_list:
  if 98<=i<=100:
    print("A+")
  elif 94<=i<98:
    print("A")
  elif 90<=i<94:
    print("A-")
  elif 86<=i<90:
    print("B+")
  elif 83<=i<86:
    print("B")
  elif 80<=i<83:
    print("B-")
  elif 76<=i<80:
    print("C+")
  elif 73<=i<76:
    print("C")
  elif 70<=i<73:
    print("C-")
  elif 60<=i<70:
    print("D")
  elif 0<=i<60:
    print("F")

Input a list of scores. Remember to separate each score by a comma. 100, 98, 97.5, 66, 64.5, 0, 55.5, 73.22, 88.88, 83, 69.420, 93, 95.5, 65.5
A+
A+
A
D
D
F
F
C
B+
B
D
A-
A
D

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [1]:
user_input=input("Give me a list of words! Remember to add a space or comma between separate words. ")
word_list=user_input.split()
for word in word_list:
  print(word, len(word))

Give me a list of words! Remember to add a space or comma between separate words. For a list of words, print each word alongside its length.
For 3
a 1
list 4
of 2
words, 6
print 5
each 4
word 4
alongside 9
its 3
length. 7

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [2]:
n=input("Give me a list of numbers! Put a space between each separate number. ")
list=n.split()
numbers=[int(item) if item.isdigit() else float(item) for item in list]
for i in numbers:
  if i>0:
    print(i)

Give me a list of numbers! Put a space between each separate number. 1 2 3 55 99 -122222 434 5555 909.88 -77.55
1
2
3
55
99
434
5555
909.88

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [3]:
celsius=input("Input a list of temperatures in degrees Celsius! Reminder to separate each temperature with a comma. ")
list=celsius.split(',')
celsius_list=[int(item) if item.isdigit() else float(item) for item in list]
for i in celsius_list:
  print(i*9/5+32)

Input a list of temperatures in degrees Celsius! Reminder to separate each temperature with a comma. 123, 100, 88, -273, 95, 0, 25, 50, 69.420, 420.69, 112, 334
253.4
212.0
190.4
-459.4
203.0
32.0
77.0
122.0
156.956
789.242
233.6
633.2

9. **Name Initials:** For a list of full names, print the initials of each name.

In [2]:
user_input=input("Please input a list of names. Separate each name with a comma. ")
names=user_input.split(',')
for i in names:
  words=i.split()
  initials= ''.join(j[0].upper() for j in words)
  print(initials)

Please input a list of names. Separate each name with a comma. John Cena, Lebron James, Walter White, Stony Tark, Gus Fring, Ivan Perez, Eren Yeager
JC
LJ
WW
ST
GF
IP
EY
Please input a list of names. Separate each name with a comma. No
N

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
count=0
for i in range (1,101):
  count +=i
print (count)

5050